{% if child_page %}
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/flatpickr/flatpickr.css" type="text/css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/md5.js"></script>
{#    <script src="/static/bootstrap/js/popper.min.js"></script>#}
{#    <script src="/static/bootstrap/js/bootstrap.min.js"></script>#}
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/awesome.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
    <script src="/static/js/additional-methods.js"></script>
    <script src="/static/js/socket.io.min.js"></script>
    <script src="/static/js/base.js"></script>
    <link rel="stylesheet" href="/static/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/static/leaflet/css/leaflet.css" type="text/css">
    <link rel="stylesheet" href="/static/css/cimiss/awshistory.css" type="text/css">
    <script src="/static/js/jquery.dataTables.js"></script>
    <script src="/static/js/dataTables.bootstrap4.min.js"></script>
    <script src="/static/leaflet/js/leaflet.js" type="text/javascript"></script>
    <script src="/static/leaflet/js/Leaflet-WFST.min.js" type="text/javascript"></script>
    <script src="/static/js/ip.validate.js" type="text/javascript"></script>
    <script src="/static/js/cimiss/awshistory.js" type="text/javascript"></script>
    <script src="/static/flatpickr/flatpickr.js" type="text/javascript"></script>
{% endif %}

<div class="container-fluid p-4">
    <div>
        <form id="form-search" class="form-inline d-flex justify-content-center">
            <div class="form-group">
                <label for="awsdate" class="m-1">日期(UTC)：</label>
                <a v-on:click="day_pre" id="day-pre" class="fa fa-caret-left fa-3x m-1" href="#"></a>
                <input type="text" class="form-control" id="awsdate" v-model="awsdate" name="awsdate">
                <a v-on:click="day_next" id="day-next" class="fa fa-caret-right fa-3x m-1" href="#"></a>
            </div>
            <button v-on:click="submit" id="history_button" class="btn btn-primary m-1">查询</button>
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    故障定位
                </button>
                <div class="dropdown-menu" v-on:click="fault_filter">
                    <a class="dropdown-item" href="#" value="未过质控">未过质控</a>
                    <a class="dropdown-item" href="#" value="中心站未发CTS">中心站未发CTS</a>
                    <a class="dropdown-item" href="#" value="未到中心站">未到中心站</a>
                    <a class="dropdown-item" href="#" value="地市直传">地市直传</a>
                    <a class="dropdown-item" href="#" value="地市未直传">地市未直传</a>
                </div>
            </div>
        </form>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-2">区站号：<input type="text" id="index0" style="width:70%"></div>
                <div class="col-2">区站名：<input type="text" id="index1" style="width:70%"></div>
                <div class="col-2">地市：<input type="text" id="index2" style="width:70%"></div>
                <div class="col-2">县名：<input type="text" id="index3" style="width:70%"></div>
                <div class="col-2">设备：<input type="text" id="index4" style="width:70%"></div>
            </div>
        </div>
    </div>

    <div>
        <table id="history_table" class="table table-bordered table-hover text-center table-sm h6 display">
            <thead>
                <tr>
                    <th>区站号</th>
                    <th>区站名</th>
                    <th>地市</th>
                    <th>县名</th>
                    <th>设备</th>
                    <th>环节</th>
                    <th>0H-5H</th>
                    <th>6H-11H</th>
                    <th>12H-17H</th>
                    <th>18H-23H</th>
                    <th>故障定位</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
 </div>
<!--<ul class="uk-pagination uk-flex-center" uk-margin>-->
    <!--<li><a href="#"><span uk-pagination-previous></span></a></li>-->
    <!--<li><a href="#">1</a></li>-->
    <!--<li class="uk-disabled"><span>...</span></li>-->
    <!--<li><a href="#">5</a></li>-->
    <!--<li><a href="#">6</a></li>-->
    <!--<li class="uk-active"><span>7</span></li>-->
    <!--<li><a href="#">8</a></li>-->
    <!--<li><a href="#"><span uk-pagination-next></span></a></li>-->
<!--</ul>-->
