<div class="col-1 pl-0 pr-0" style="background-color: #f8f9fa!important; box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);">
    <div style="overflow: auto">
        <ul class="nav flex-column nav-pills border-bottom">
            <li class="pt-3 pl-1 pb-2"><span class="font-weight-bold border-bottom">上行到报</span></li>
            <li class="nav-item">
                <a class="nav-link active rounded-0 pl-3 pr-3 pt-1 pb-1" href="/cimiss/awsarrival">
                    <small>区域站到报</small>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-0 pl-3 pr-3 pt-1 pb-1" href="/cimiss/awsregsource">
                    <small>区域站报文源</small>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-0 pl-3 pr-3 pt-1 pb-1" href="/cimiss/regcenter">
                    <small>中心站到报</small>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-0 pl-3 pr-3 pt-1 pb-1" href="/cimiss/awsbattery">
                    <small>区域站电源</small>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-0 pl-3 pr-3 pt-1 pb-1" href="/cimiss/awshistory">
                    <small>区域站历史情况</small>
                </a>
            </li>
        </ul>
        <ul class="nav flex-column nav-pills border-bottom">
            <li class="pt-3 pl-1 pb-2"><span class="font-weight-bold border-bottom">Parent</span></li>
            <li class="nav-item">
                <a class="nav-link rounded-0 pl-3 pr-3 pt-1 pb-1" href="#">
                    <small>Sub item</small>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-0 pl-3 pr-3 pt-1 pb-1" href="#">
                    <small>Sub item</small>
                </a>
            </li>
        </ul>
    </div>
</div>