
.legend-circle{
    /*display: inline-block;*/
}

.circle-inner-yes{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 6px 2px 6px 2px;
    background-color: green;
}

.circle-inner-no{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 6px 2px 6px 2px;
    background-color: #DB7B3C;
}

.table th, .table td {
    vertical-align: middle!important;
}

/*td .clearleft{*/
    /*clear:left;*/
/*}*/