.tm-navbar-container {
    background: linear-gradient(to left, #28a5f5, #1e87f0) !important;
}

.tm-navbar-container .uk-logo,
.tm-navbar-nav > li.uk-active > a {
    color: #fff;
}

.my-navbar-nav > li > a {
    color: rgba(255,255,255,0.8);
    height: 50px;
}

.tm-navbar-item .uk-button-default {
    color: rgba(255,255,255,0.8);
    border-color: rgba(255,255,255,0.6);
    border-radius: 500px;
}

#close-alarm {
    color: rgba(255,255,255,0.8);
}
#close-alarm:hover {
    color: #fff;
}
.tm-navbar-item .uk-button-default:hover {
    color: #fff;
    border-color: #fff;
}

.nav .nav-item .active{
    background: rgba(202,202,202,.3) !important;
    border-left-color: #38a9f9;
    border-left-style: solid;
    border-left-width: 5px;
    content: " ";
    height: 100%;
    left: 0;
}

.nav .nav-item .active>small{
    color: #38a9f9!important;
    font-weight: 600 !important;
}

.nav .nav-item>a:not(.active) {
    border-left-color: #f8f9fa;
    border-left-style: solid;
    border-left-width: 5px;
    content: " ";
    height: 100%;
    left: 0;
}

.nav .nav-item>a:not(.active)>small{
    color: #666!important;
}

.nav .nav-item>a:not(.active)>small:hover{
    color: #38a9f9!important;
}
