{% if child_page %}
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/md5.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/awesome.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
    <script src="/static/js/additional-methods.js"></script>
    <script src="/static/js/socket.io.min.js"></script>
    <script src="/static/js/base.js"></script>
    <link rel="stylesheet" href="/static/leaflet/css/leaflet.css" type="text/css">
    <link rel="stylesheet" href="/static/css/cimiss/awshistory.css" type="text/css">
    <script src="/static/leaflet/js/leaflet.js" type="text/javascript"></script>
    <script src="/static/leaflet/js/Leaflet-WFST.min.js" type="text/javascript"></script>
    <script src="/static/js/ip.validate.js" type="text/javascript"></script>
    <script src="/static/js/cimiss/awshistory.js" type="text/javascript"></script>
{% endif %}

<form id="form-search" class="form-inline">
    <div class="form-group">
        <label for="awsdate">日期：</label>
        <a v-on:click="day_pre" id="day-pre" class="fa fa-caret-left fa-3x" href="#"></a>
        <input type="text" class="form-control" id="awsdate" v-model="awsdate" name="awsdate">
        <a v-on:click="day_next" id="day-next" class="fa fa-caret-right fa-3x" href="#"></a>
    </div>
    <button v-on:click="submit" id="history_button" class="btn btn-primary">查询</button>
</form>

<table id="history_table" class="table table-bordered table-hover text-center table-sm">
    <thead>
        <tr>
            <th>区站号</th>
            <th>区站名</th>
            <th>地市</th>
            <th>县名</th>
            <th>设备</th>
            <th>环节</th>
            <th style="">0H-5H</th>
            <th style="">6H-11H</th>
            <th style="">12H-17H</th>
            <th style="">18H-23H</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<!--<ul class="uk-pagination uk-flex-center" uk-margin>-->
    <!--<li><a href="#"><span uk-pagination-previous></span></a></li>-->
    <!--<li><a href="#">1</a></li>-->
    <!--<li class="uk-disabled"><span>...</span></li>-->
    <!--<li><a href="#">5</a></li>-->
    <!--<li><a href="#">6</a></li>-->
    <!--<li class="uk-active"><span>7</span></li>-->
    <!--<li><a href="#">8</a></li>-->
    <!--<li><a href="#"><span uk-pagination-next></span></a></li>-->
<!--</ul>-->
