{% extends '__base__.html' %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <a href="/cimiss/awsarrival" style="text-decoration: none"><div class="card  text-center border shadow" style="padding-top: 70px;padding-bottom: 70px;">CIMISS</div></a>
            </div>
            <div class="col">
                <a href="/product/surface/tmp" style="text-decoration: none"><div class="card text-center border shadow" style="padding-top: 70px;padding-bottom: 70px;">业务产品</div></a>
            </div>
            <div class="col">
                <a style="text-decoration: none"><div class="card text-center border shadow" style="padding-top: 70px;padding-bottom: 70px;">...</div></a>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}