    <div class="col-1 pt-3" style="background-color: #f8f9fa!important; box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);">
        <div style="overflow: auto">
            <h4>CIMISS</h4>
            <ul class="nav flex-column nav-pills">
                <li class="uk-nav-header pb-2"><span class="border-bottom">上行到报</span></li>
                <li class="nav-item"><a class="nav-link active pl-0 pr-0 pt-1 pb-1" href="/cimiss/awsarrival"><small>区域站到报</small></a></li>
                <li class="nav-item"><a class="nav-link pl-0 pr-0 pt-1 pb-1" href="/cimiss/awsregsource"><small>区域站报文源</small></a></li>
                <li class="nav-item"><a class="nav-link pl-0 pr-0 pt-1 pb-1" href="/cimiss/regcenter"><small>中心站到报</small></a></li>
                <li class="nav-item"><a class="nav-link pl-0 pr-0 pt-1 pb-1" href="/cimiss/awsbattery"><small>区域站电源</small></a></li>
                <li class="nav-item"><a class="nav-link pl-0 pr-0 pt-1 pb-1" href="/cimiss/awshistory"><small>区域站历史情况</small></a></li>
            </ul>
            <ul class="nav flex-column nav-pills">
                <li class="uk-nav-header">Parent</li>
                <li class="uk-nav-divider"></li>
                <li class="nav-item"><a href="#">Sub item</a></li>
                <li class="nav-item"><a href="#">Sub item</a></li>
            </ul>
        </div>
    </div>