    <div class="col-1">
        <div style="margin-top: 15px; overflow: auto">
            <h3 style="font-weight: 300; color: #000">CIMISS</h3>
            <ul class="nav flex-column nav-pills">
                <li class="uk-nav-header">上行到报</li>
                <li class="uk-nav-divider"></li>
                <li class="nav-item"><a class="nav-link active" href="/cimiss/awsarrival">区域站到报</a></li>
                <li class="nav-item"><a class="nav-link" href="/cimiss/awsregsource">区域站报文源</a></li>
                <li class="nav-item"><a class="nav-link" href="/cimiss/regcenter">中心站到报</a></li>
                <li class="nav-item"><a class="nav-link" href="/cimiss/awsbattery">区域站电源</a></li>
                <li class="nav-item"><a class="nav-link" href="/cimiss/awshistory">区域站历史情况</a></li>
            </ul>
            <ul class="nav flex-column nav-pills">
                <li class="uk-nav-header">Parent</li>
                <li class="uk-nav-divider"></li>
                <li class="nav-item"><a href="#">Sub item</a></li>
                <li class="nav-item"><a href="#">Sub item</a></li>
            </ul>
        </div>
    </div>