<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录 - 江西气象数据实验平台</title>
    <script src="/static/js/jquery.min.js"></script>
    <script>
        $().ready(function() {
            postApi('/iplogin', {
            }, function (err, result) {
                if (err) {
                    showError(err);
                }
                else {
                    if (result.succeed) {
                        localStorage.user_name = result.un;
                        localStorage.area_code = result.ac;
                        return location.assign('/cimiss/awsarrival');
                    } else {
                        showError('IP地址有误');
                    }
                }
                stopLoading();
            });
        })
    </script>
</head>
<body>
Welcome!
</body>
</html>