<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>注册 - 江西气象数据实验平台</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/md5.js"></script>
    <script src="/static/bootstrap/js/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/awesome.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
    <script src="/static/js/additional-methods.js"></script>
    <script>
        $().ready(function() {
            $("#form-register").validate({
                rules: {
                    password2:{
                        equalTo:"#password1"
                    },
                },
                errorPlacement: function(error, element) {
                    error.appendTo( element.parent().parent());
                },
                errorClass: "text-danger"
            });
        });
        $(function() {
           var vm = new Vue({
                el: '#form-register',
                data: {
                    username: '',
                    password1: '',
                    password2: '',
                    truename: '',
                    selected:'',
                    departments: '',
                    phone: ''
                },
                methods: {
                    submit: function (event) {
                        event.preventDefault();
                        if($("#form-register").valid()) {
                            startLoading();
                            postApi('/user/register', {
                                username: this.username,
                                password: CryptoJS.MD5(this.password1).toString(),
                                truename: this.truename,
                                department: this.selected,
                                phone: this.phone
                            }, function (err, result) {
                                if (err) {
                                    showError(err);
                                }
                                else {
                                    if (result.succeed) {
                                        return location.assign('/');
                                    } else {
                                        showError('注册失败')
                                    }
                                }
                                stopLoading();
                            });
                        }
                    }
                }
            });
            postApi('/user/department', function (err, r) {
                if (err) {
                    alert(err);
                } else {
                    vm.departments = r.dpts;
                }
            });
        })
    </script>
</head>
<body class="h-100">
    <div class="d-flex justify-content-center align-items-center text-center h-100">
        <div style="width: 320px" >
            <p class="text-primary h3 font-weight-bold mb-1" style="width: 100px">注册：</p>
            <form id="form-register" class="p-3 border shadow">
                <div class="form-group pb-1 pt-1">
                    <div class="w-100 input-group">
                         <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                         </div>
                        <input v-model="username" name="username" type="text" placeholder="用户名" minlength="5" maxlength="50" class="form-control" required>
                    </div>
                </div>
                <div class="form-group pb-1">
                    <div class="w-100 input-group">
                         <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                         </div>
                        <input v-model="password1" id="password1" name="password1" type="password" placeholder="设置密码" minlength="5" maxlength="50" class="form-control" required>
                    </div>
                </div>
                <div class="form-group pb-1">
                    <div class="w-100 input-group">
                         <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                         </div>
                        <input v-model="password2" name="password2" type="password" placeholder="重复密码" minlength="5" maxlength="50" equalTo="#password1" class="form-control" required>
                    </div>
                </div>
                <div class="form-group pb-1">
                    <div class="w-100 input-group">
                         <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-info"></i></span>
                         </div>
                        <input v-model="truename" name="truename" type="text" placeholder="真实姓名" minlength="5" maxlength="50" class="form-control" required>
                    </div>
                </div>
                <div class="form-group pb-1">
                    <div class="w-100 input-group">
                         <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-bank"></i></span>
                         </div>
                        <select v-model="selected" name="department" class="form-control" required>
                            <option value='' disabled selected>所属单位</option>
                            <option v-for="department in departments" v-bind:value="department.id">
                                {% verbatim myblock %} {{ department.name }} {% endverbatim myblock %}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group pb-1">
                    <div class="w-100 input-group">
                         <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-phone"></i></span>
                         </div>
                        <input v-model="phone" name="phone" type="text" placeholder="联系电话" maxlength="50" class="form-control" required digits="true">
                    </div>
                </div>
                <div class="form-group pb-1">
                    <div class="w-100">
                        <button type="submit" v-on:click="submit" class="w-100 btn btn-primary"><i class="fa fa-sign-in"></i> 注册</button>
                    </div>
                </div>
                <div>
                    <label></label>
                    <a class="float-right" href="{% url 'user:login' %}"><small>登录</small></a>
                </div>
            </form>
        </div>
    </div>

</body>
</html>